env
project/assets/*
project/media/*
project/static/lib/*
project/static/recipes/js/final/*
project/static/recipes/js/templates/templates.js
project/static/recipes/original/*
project/static/recipes/images/*.jpg
project/static/recipes/images/recipes/*.jpg
project/.sass-cache/*
project/.coverage
project/project/settings_secret.py
project/*.sqlite3
*.egg-info
*.pot
*.py[co]
__pycache__
MANIFEST
.ebextensions
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
