env
project/static/lib/*
project/static/recipes/js/final/*
project/static/recipes/original/*
project/static/recipes/images/*.jpg
project/.sass-cache/*
project/.coverage
project/project/settings_secret.py
project/*.sqlite3
*.egg-info
*.pot
*.py[co]
__pycache__
MANIFEST
.DS_Store
