<div class="nutrition-tooltip">
    <ul>
        <li>Per portion: {{ ps }}</li>
        <li>Per 100g: {{ phg }}</li>
    </ul>
    {{#if info}}
    <div class="info">
        {{ info }}
    </div>
    {{/if}}
</div>