#substitut {
  .btn {
    font-family: $font-family-monospace;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    font-size: .9em;
    padding: .5em 1.5em;
    border: none;
    @include box-shadow(0 1px 1.5px 1px rgba(0,0,0,.12));
    transition: all 300ms;
    &:active,
    &.active {
      outline: 0;
      background-image: none;
      @include box-shadow(0 8px 20px 1px rgba(0,0,0,.3));
    }
  }
  .btn-lg {
    font-size: 28px;
  }

  .btn-tag {
    @include button-variant($btn-tag-color, $btn-tag-bg, $btn-tag-border);
  }
}