<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{% static "css/substitut.css" %}" />
    <title>{% block title %}Substitut{% endblock %}</title>
    <script type="text/javascript" src="{% static "js/app.js" %}"></script>
    <link href='https://fonts.googleapis.com/css?family=Cutive+Mono|Roboto' rel='stylesheet' type='text/css'>
</head>
<body id="substitut">
    <header class="site-header container-fluid">
        <div class="col-md-4 col-sm-4 col-xs-12 logo-wrapper">
            <img src="{% static "images/site/vegan.png" %}" class="vegan-logo">
            <h1 id="logo"><a href="/">SUBSTITUT</a></h1>
        </div>
        <nav class="col-md-4 col-sm-4 col-xs-12 navigation">
            <ul class="nav nav-pills pull-right">
                <li><a href="/om">Om</a></li>
                <li><a href="/skicka-in-recept" class="btn btn-info">Skicka in ett recept</a></li>
            </ul>
        </nav>
        <div class="col-md-4 col-sm-4 col-xs-12 search-wrapper">
            <form id="index-search-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" id="index-search-field" name="term" placeholder="Sök">
                    <div class="input-group-btn">
                        <button id="index-search-btn" class="btn btn-default btn-lg" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </header>
    {% block post_header %}{% endblock %}
    <section class="container-fluid">
        <div class="container-fluid fluid-limited">
            <div class="content-wrapper">
                {% block content %}{% endblock %}
            </div>
            <footer class="site-footer">
                <div class="footer-wrapper">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                </div>
            </footer>
        </div>
    </section>
</body>
</html>