{% extends "recipes/base.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block post_header %}
<div class="parallax-window" data-position-y="top" data-parallax="scroll" data-image-src="{{ parallax_src }}">
    <div class="container-fluid fluid-limited">
        <p class="index-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="content" class="row index" data-endpoint="" data-limit="{{ limit }}">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="index">De senaste recepten</h3>
    </div>
{% for recipe in latest_recipes %}
    <div class="col-md-3 col-sm-3 col-xs-6">
        <a href="{{ recipe.url }}">
            <div class="thumbnail recipe-image-wrapper index">
                <img class="recipe-image img-responsive" src="{{ recipe.img_small }}" data-1x="{{ recipe.img_medium }}" data-2x="{{ recipe.img_large }}" width="100%">
                <div class="caption bg-info">
                    <h3>{{ recipe.name }}</h3>
                </div>
            </div>
        </a>
    </div>
{% endfor %}
    <div class="col-md-12 col-sm-12 col-xs-12 search-promote-wrapper">
        <button class="btn btn-lg btn-info search-promote-btn">Hitta recept</button>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="index">Populära recept</h3>
    </div>
{% for recipe in popular_recipes %}
    <div class="col-md-3 col-sm-3 col-xs-6">
        <a href="{{ recipe.url }}">
            <div class="thumbnail recipe-image-wrapper index">
                <img class="recipe-image img-responsive" src="{{ recipe.img_small }}" data-1x="{{ recipe.img_medium }}" data-2x="{{ recipe.img_large }}" width="100%">
                <div class="caption">
                    <h3>{{ recipe.name }}</h3>
                </div>
            </div>
        </a>
    </div>
{% endfor %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h3>Kategorier</h3>
    </div>
{% for char, food_group in food_groups.items %}
    <div class="food-groups index col-md-2 col-sm-3 col-xs-6">
        <h3>{{ char }}</h3>
        <ul>
        {% for group in food_group %}
            <li><a class="btn btn-tag btn-xs" href="{{ group.url }}">{{ group.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endfor %}
</div>
<button id="show-more-btn" class="btn btn-lg btn-info hidden">Hämta fler recept</button>
{% endblock %}